  <ion-header>
    <ion-toolbar>
      <ion-title size="large" slot="">自販機マップ</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">


  <!-- 高さを必ず指定する -->
  <capacitor-google-map
    id="map"
    style="display: inline-block; width: 100%; height: 100%;"
  ></capacitor-google-map>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button class="ripple-button round" (click)="hello(); rippleEffect($event)">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button class="ripple-button round" (click)="rippleEffect($event)">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button class="ripple-button round" (click)="addCurrentLocation(); rippleEffect($event)">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button class="ripple-button round" (click)="rippleEffect($event)">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button class="ripple-button round" (click)="rippleEffect($event)">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
